@charset "UTF-8";
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
body,html{
	width:100%;
	height:100%;
}
.wrap{
	margin-top:5%;
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.movie_form{
	display:flex;
	max-width:70%;
	height:300px;
}
.movie_form img{
	width:300px;
}
.make_star{
	display:flex;
	flex-direction:column;
	max-width:70%;
	width:300px;
}